<template name="accountBalances">
	<h3>Balances</h3>
	<table class="table table-striped table-bordered table-hover">
		<tbody>
		{{#each accounts}}
		{{> accountSummary }}
		{{/each}}
		<tr class="total">
			<td>TOTAL</td>
			<td>{{ total }}</td>
		</tr>
		</tbody>
	</table>

	<a href="{{ pathFor 'newAccount' }}">
		<span class='glyphicon glyphicon-plus'></span> New account
	</a><br/>
	<a href="{{ pathFor 'settings' }}">
		<span class='glyphicon glyphicon-cog'></span> Preferences
	</a>
</template>

<template name="accountSummary">
	<tr class="accountrow" data-uid="{{ uid }}">
		<td>{{ name }}</td>
		<td class="{{ additionalClasses }}">{{ formatBalance }}</td>
	</tr>
</template>

<template name="accountDetail">
	<ol class="breadcrumb">
		<li><a href="{{ pathFor 'accountBalances' }}">Accounts</a></li>
		<li>{{name}}</li>
	</ol>
	<h3>
		<!--<a href="{{ pathFor 'accountBalances' }}">-->
			<!--<span class="glyphicon glyphicon-chevron-left"></span>-->
		<!--</a>-->
		{{name}}
	</h3>

	<a class="pull-right" href="{{ pathFor 'editAccount' uid=uid }}"><span class="glyphicon glyphicon-edit">modify account</span></a>

	<table class="table table-hover">
		<thead></thead>
		<tbody>
		<tr>
			<td>Ate fryed fish and chips</td>
			<td>Sagra
				<div class="label label-default">Food - Cibarsi</div>
			</td>
		</tr>
		</tbody>
	</table>
</template>

